.DS_Store
logistics-insights*.zip
*.pxd
.vscode/*
node_modules/
package.json
package-lock.json
luacov.*
factorio-test.json
factorio-test-data-dir/
bench-overrides.lua
bench/results.csv
bench/per-task-results.csv
bench/per-tick-stats.csv
bench/per-call-stats.csv
bench/configs.local.ps1
bench/configs.local.sh